doctype html
html
  head
    meta(charset='UTF-8')
    title Spaceshooter
    link(rel='stylesheet' href='/static/css/style.css')
  body
    script(src='/static/js/lib/socket.io.js')
    script(src='/static/js/lib/phaser.min.js')
    script(src='/static/js/client.js')
